@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Oswald:wght@200..700&display=swap");

$primary-color: #070d2d;
$secondary-color: #2494ea;

body {
    font-family: Arial, sans-serif;
}

header.glassy-background {
    background-color: rgba(0, 0, 0, 0.25); /* Semi-transparent dark background */
    backdrop-filter: blur(10px); /* Blurring the background */
    transition:
        background-color 0.3s ease-in-out,
        backdrop-filter 0.3s ease-in-out;
}

header {
    nav a {
        @apply text-white;
        &:hover {
            @apply text-blue-400;
        }
    }
}

.swiper {
    .swiper-pagination {
        text-align: right !important;
        right: 10% !important;
        left: auto !important;
    }
}

.ourClient {
    @media (max-width: 1500px) {
        grid-template-columns: 646px 1fr !important;
    }
    @media (max-width: 1480px) {
        grid-template-columns: 550px 1fr !important;
    }
    @media (max-width: 1280px) {
        grid-template-columns: 1fr !important;
    }
}

.banner {
    overflow: hidden;

    .mySwiper {
        width: 100%;
        height: 100%;

        .image-container {
            // overflow: hidden;

            &::before {
                content: "";
                position: absolute;
                right: -200px;
                top: 68%;
                transform: translateY(-50%);
                background: url("./assets/images/Path 213.png") no-repeat center / contain;
                z-index: 0;
                height: 700px;
                width: 700px;

                @media (max-width: 1440px) {
                    right: -48px;
                    top: 63%;
                    height: 500px;
                    width: 500px;
                }
                @media (max-width: 992px) {
                    right: 0;
                    top: 50%;
                    height: 100%;
                    width: 100%;
                }
            }

            &::after {
                content: "";
                position: absolute;
                right: -10px;
                top: 48%;
                transform: translateY(-50%);
                background: url("./assets/images/icons/Polygon\ 3.svg") no-repeat center / contain;
                z-index: 1;
                height: 100%;
                width: 100%;
            }
        }
    }
}

.Technology_layout {
    display: grid;
    grid-template-columns: 254px 1fr 1fr;
    @media (max-width: 1280px) {
        grid-template-columns: 1fr;
    }

    .card_1,
    .card_2 {
        @media (max-width: 1280px) {
            height: 270px;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
            background: linear-gradient(90deg, rgba(108, 0, 75, 0.5004595588235294) 0%, rgba(71, 120, 197, 0.5) 100%);
            transition: all 0.3s ease-in-out;
            z-index: 1;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
            background: url("https://images.pexels.com/photos/683929/pexels-photo-683929.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2")
                no-repeat center / cover;
            transition: all 0.3s ease-in-out;
            z-index: 0;
        }
    }
    .card_2 {
        &::after {
            background: linear-gradient(90deg, rgba(108, 0, 75, 0.5004595588235294) 0%, rgba(255, 146, 0, 0.5) 100%);
        }
        &::before {
            background: url("https://images.pexels.com/photos/2265488/pexels-photo-2265488.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2")
                no-repeat center / cover;
        }
    }
}

.blog_btn {
    background: url("./assets/images/dots.png") no-repeat center / contain;
    height: 59px;
    width: 100%;
    display: block;
    position: absolute;
    top: -6px;
    left: 0;
    z-index: 0;
}

.animated_btn {
    padding: 11px 12px 11px 0;
    background-color: transparent;
    position: relative;
    padding-left: 0;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    @media (max-width: 1280px) {
        padding: 8px 10px 8px 0;
        font-weight: 600;
    }
    @media (max-width: 600px) {
        padding: 0 8px 0;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 20%;
        z-index: -1;
        background-color: $secondary-color;
        transition: all 0.3s ease-in-out;
    }

    &:hover {
        padding-left: 12px;
        transition: all 0.3s ease-in-out;
        &::before {
            width: 100%;
        }

        @media (max-width: 1280px) {
            padding-left: 8px;
        }
    }
}

.achivement {
    .card {
        height: 209px;

        @media (max-width: 1440px) {
            height: 100%;
        }
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            background: url("./assets/images/shahadat-rahman-voM1Z9cGPCU-unsplash.png") no-repeat center / cover;
            z-index: -1;
            height: 100%;
            width: 100%;
        }
    }
}

footer {
    .footer_layout {
        @media (min-width: 1580px) {
            grid-template-columns: 1fr 1fr !important;
        }
    }
}
